* {
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
    display: flex;
}

.card{
    background-color: white;
    height: 575px;
    width: 400px;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 0px 15px black;
    margin: 20px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.image img {
    border: none;
    border-radius: 7px;
    height: 250px;
    width: 360px;
    margin: 20px;
}

span {
    border-radius: 8px;
    box-shadow: 0px 0px 3px rgb(160, 158, 158);
    padding: 5px;
    margin-left: 20px;
}

h2 {
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.info p {
    color: rgb(70, 65, 65);
    margin: 0px 20px;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    word-spacing: -3px;
    line-height: 21px;
}

.btn {
    padding-left: 35%;
    margin: 5px;
}

button {
    padding: 8px 15px;
    margin: 10px;
    border-radius: 8px;
    border: none;
    color: rgb(3, 3, 193);
    background-color: #8fbef1;
}